[Unit]
Description=sysmocom sysmoPCU

[Service]
Type=simple
ExecStart=/usr/bin/osmo-pcu -c /etc/osmocom/osmo-pcu.cfg -e
Restart=always
RestartSec=2

# The msg queues must be read fast enough
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1

[Install]
WantedBy=multi-user.target
