*.o
*.lo
*.a
*.sw?
Makefile.in
Makefile
.deps
src/cscope*

aclocal.m4
autom4te.cache
config.log
config.guess
config.sub
config.status
configure
compile
depcomp
install-sh
missing
*libtool
ltmain.sh

core
core.*

osmoappdesc.pyc

# binaries
src/osmo-pcu
src/osmo-pcu-remote

# tests
.dirstamp
__pycache__/
tests/atconfig
tests/package.m4
tests/*/*Test
tests/*/*_test
tests/emu/pcu_emu
tests/testsuite
tests/testsuite.log

# ignore debian files
.tarball-version
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/*.debhelper*
debian/*.substvars
debian/osmo-pcu-dbg/
debian/osmo-pcu.substvars
debian/osmo-pcu/
debian/tmp/

osmo-pcu.pc

# manuals
doc/manuals/*.html
doc/manuals/*.svg
doc/manuals/*.pdf
doc/manuals/*__*.png
doc/manuals/*.check
doc/manuals/generated/
doc/manuals/osmomsc-usermanual.xml
doc/manuals/common
doc/manuals/build

contrib/osmo-pcu.spec
