*.o
*.lo
*.a
*.sw?
Makefile.in
Makefile
.deps

aclocal.m4
autom4te.cache
config.log
config.guess
config.sub
config.status
configure
depcomp
install-sh
missing
libtool
ltmain.sh

core
core.*

osmoappdesc.pyc

# binaries
src/osmo-pcu
src/osmo-pcu-remote

# tests
.dirstamp
tests/atconfig
tests/package.m4
tests/alloc/AllocTest
tests/rlcmac/RLCMACTest
tests/emu/pcu_emu
tests/testsuite
tests/testsuite.log
